.main section img {
  width: 100%;
  height: auto;
}

/* main site area */
.main {
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-column: span 5;
  font-family: var(--font-family-sans-serif);
  margin: auto;
  max-width: 1000px;
}

.title {
}

/* main on smaller screens */
@media only screen and (max-width: 500px) {
  .main {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-column: span 5;
  }
}

article  a {
  font-weight: bolder;
  text-decoration: none;
}
